.pricesContainer {
  width: 100%;
  height: 800px;
  margin: auto !important;
  background: #ffffff;
  overflow: hidden;
}

.PricesCompanyLogo {
  width: 200px;
  height: 250px;
  margin: -20px 95px;
  z-index: 1;
}
.pricesGoBackToMain {
  width: 140px;
  height: 25px;
  margin: 30px 20px;
  border-radius: 50px;
  background-color: #f68713;
  font-family: "Barlow Condensed";
  font-size: 12px;
  font-weight: 400;
  line-height: 26px;
  letter-spacing: 0px;
  text-align: center;
  color: rgb(251, 251, 251);
}
.pricesGoBackToMain:hover {
  cursor: pointer;
  background-color: #fb9324;
}
.priceListBox {
  display: flex;
  flex-direction: column;
  width: 400px;
  height: 300px;
  margin: 0px auto;
  background-color: #f68713;
  color: white;
  border-radius: 3px;
  opacity: 1;
}
.priceList {
  width: auto;
  height: auto;
  display: flex;
  flex-direction: column;

  align-items: flex-start;
}

.priceHeaderText {
  height: 80px;
  width: 100px;
  margin: 0px -5px;
  font-family: "Barlow Condensed";
  font-size: 18px;
  font-weight: 700;
  line-height: 40px;
  letter-spacing: 0px;
  text-align: left;
  color: white;
}
.priceNormalText {
  height: 25px;
  width: 250px;
  margin: 10px 0px;
  font-family: "Barlow Condensed";
  font-size: 16px;
  font-weight: 400;
  line-height: 0px;
  letter-spacing: 0px;
  text-align: left;
  color: white;
}
.priceImage {
  position: absolute;
  width: 400px;
  height: 300px;
  opacity: 0.2;
}
